
/****** Object:  StoredProcedure [dbo].[Get LicenceCatergories]    Script Date: 04/25/2016 15:06:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Get LicenceCatergories]
AS
BEGIN
	
select * from LicenceCatergories
end
