

<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="Mycntrlr">
<head>
    <title>Home | Users | Users | Add New User</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!--LOADING STYLESHEET FOR PAGE--><!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-pace/pace.css">
    <link type="text/css" rel="stylesheet" href="vendors/iCheck/skins/all.css">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-news-ticker/jquery.news-ticker.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="css/themes/style2/pink-blue.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="css/style-responsive.css">
</head>
<body ng-model="User">
    <div>
        <!--BEGIN THEME SETTING-->
        <!--BEGIN BACK TO TOP--><a id="totop" href="#"><i class="fa fa-angle-up"></i></a><!--END BACK TO TOP--><!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a id="logo" href="index.html" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">BTPOS Dashboard</span><span style="display: none" class="logo-text-icon">µ</span></a>
                </div>
                <div class="topbar-main">
                    <a id="menu-toggle" href="#" class="hidden-xs"><i class="fa fa-bars"></i></a>

                    <ul class="nav navbar navbar-top-links navbar-right mbn">
                        <li class="dropdown">
                            <a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-bell fa-fw"></i><span class="badge badge-green">0</span></a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li><p>You have 0 new notifications</p></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a data-hover="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-envelope fa-fw"></i><span class="badge badge-orange">0</span></a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li><p>You have 0 new messages</p></li>
                            </ul>
                        </li>
                        <li class="dropdown topbar-user">
                            <a data-hover="dropdown" href="#" class="dropdown-toggle"><img src="images/user.jpg" alt="" class="img-responsive img-circle" />&nbsp;<span class="hidden-xs">{{uname}}</span>&nbsp;<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-user pull-right">
                                <li><a href="extra-profile.html"><i class="fa fa-user"></i>My Profile</a></li>
                                <li><a href="page-calendar.html"><i class="fa fa-calendar"></i>My Calendar</a></li>
                                <li><a href="email-inbox.html"><i class="fa fa-envelope"></i>My Inbox<span class="badge badge-danger">3</span></a></li>
                                <li><a href="#"><i class="fa fa-tasks"></i>My Tasks<span class="badge badge-success">7</span></a></li>
                                <li class="divider"></li>
                                <li><a href="extra-lock-screen.html"><i class="fa fa-lock"></i>Lock Screen</a></li>
                                <li><a href="login.html"><i class="fa fa-key"></i>Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--END TOPBAR-->
            <div id="wrapper">
                <!--BEGIN SIDEBAR MENU-->
                <nav id="sidebar" role="navigation" data-step="2" data-position="right" class="navbar-default navbar-static-side">
                    <div class="sidebar-collapse menu-scroll">
                        <ul id="side-menu" class="nav">
                            <li class="user-panel">
                                <div class="thumb"><img src="images/user.jpg" alt="" class="img-circle" /></div>
                                <div class="info">
                                    <p>{{uname}}</p>
                                    <ul class="list-inline list-unstyled">
                                        <li><a href="extra-profile.html" data-hover="tooltip" title="Profile"><i class="fa fa-user"></i></a></li>
                                        <li><a href="email-inbox.html" data-hover="tooltip" title="Mail"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modal-config"><i class="fa fa-cog"></i></a></li>
                                        <li><a href="login.html" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-tachometer fa-fw">
                                        <div class="icon-bg bg-orange"></div>
                                    </i><span class="menu-title">Dashboard</span>
                                </a>
                            </li>

                            <li class="active">
                                <a href="#">
                                    <i class="fa fa-send-o fa-fw">
                                        <div class="icon-bg bg-green"></div>
                                    </i><span class="menu-title">Fleet Owner</span><span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="Company.html"><i class="fa fa-briefcase"></i><span class="submenu-title">Company</span></a></li>
                                    <li class="active"><a href="Users.html"><i class="fa fa-briefcase"></i><span class="submenu-title">Users</span></a></li>
                                    <li><a href="Inventory.html"><i class="fa fa-briefcase"></i><span class="submenu-title">Inventory</span></a></li>
                                    <li><a href="LicensePayments.html"><i class="fa fa-align-left"></i><span class="submenu-title">LicensePayments</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-desktop fa-fw">
                                        <div class="icon-bg bg-pink"></div>
                                    </i><span class="menu-title">BT POS</span><span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="BTPOSDetails.html"><i class="fa fa-align-left"></i><span class="submenu-title">BT POS Details</span></a></li>
                                </ul>
                                <ul class="nav nav-second-level">
                                    <li><a href="Routes.html"><i class="fa fa-align-left"></i><span class="submenu-title">Routes</span></a></li>
                                    <li><a href="GetStops.html"><i class="fa fa-align-left"></i><span class="submenu-title">Stops</span></a></li>
                                </ul>

                            </li>


                            <li>
                                <a href="#">
                                    <i class="fa fa-send-o fa-fw">
                                        <div class="icon-bg bg-green"></div>
                                    </i><span class="menu-title">Configuration</span><span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="TypeGroups.html"><i class="fa fa-briefcase"></i><span class="submenu-title">Type Groups</span></a></li>
                                    <li><a href="Types.html"><i class="fa fa-th-large"></i><span class="submenu-title">Types</span></a></li>
                                    <li><a href="Roles.html"><i class="fa fa-hand-o-up"></i><span class="submenu-title">Roles</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-edit fa-fw">
                                        <div class="icon-bg bg-violet"></div>
                                    </i><span class="menu-title">Utilities & Tools</span><span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="EditHistory.html"><i class="fa fa-columns"></i><span class="submenu-title">Edit history</span></a></li>
                                    <li><a href="TroubleTicketingDetails.html"><i class="fa fa-align-left"></i><span class="submenu-title">TroubleTicketingDetails</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-th-list fa-fw">
                                        <div class="icon-bg bg-blue"></div>
                                    </i><span class="menu-title">Reports</span><span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="CompanyReports.html"><i class="fa fa-th-large"></i><span class="submenu-title">Company reports</span></a></li>
                                    <li><a href="FleetRepoprts.Html"><i class="fa fa-tablet"></i><span class="submenu-title">Fleet owner reports</span></a></li>
                                    <li><a href="AdminReports.html"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">Admin reports</span></a></li>
                                    <li><a href="TroubleTicketReports.html"><i class="fa fa-filter"></i><span class="submenu-title">Trouble ticket reports</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope-o">
                                        <div class="icon-bg bg-primary"></div>
                                    </i><span class="menu-title">Alerts & Notifications</span><span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="Inbox.html"><i class="fa fa-inbox"></i><span class="submenu-title">Inbox</span></a></li>
                                    <li><a href="ComposeMail.html"><i class="fa fa-pencil"></i><span class="submenu-title">Compose Mail</span></a></li>
                                    <li><a href="ViewMail.html"><i class="fa fa-eye"></i><span class="submenu-title">View Mail</span></a></li>
                                    <li><a href="Alerts.html"><i class="fa fa-inbox"></i><span class="submenu-title">Alerts</span></a></li>
                                    <li><a href="ConfigureAlerts.html"><i class="fa fa-pencil"></i><span class="submenu-title">Configure Alerts</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--END SIDEBAR MENU--><!--BEGIN CHAT FORM-->
                <div id="chat-form" class="fixed">
                    <div class="chat-inner">
                        <h2 class="chat-header">
                            <a href="javascript:;" class="chat-form-close pull-right"><i class="glyphicon glyphicon-remove"></i></a><i class="fa fa-user"></i>&nbsp;
                            Chat
                            &nbsp;<span class="badge badge-info">3</span>
                        </h2>

                        <div id="group-1" class="chat-group">
                            <strong>Favorites</strong><a href="#">
                                <span class="user-status is-online"></span>
                                <small>Verna Morton</small>
                                <span class="badge badge-info">2</span>
                            </a><a href="#">
                                <span class="user-status is-online"></span>
                                <small>Delores Blake</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a><a href="#">
                                <span class="user-status is-busy"></span>
                                <small>Nathaniel Morris</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a><a href="#">
                                <span class="user-status is-idle"></span>
                                <small>Boyd Bridges</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a><a href="#">
                                <span class="user-status is-offline"></span>
                                <small>Meredith Houston</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a>
                        </div>
                        <div id="group-2" class="chat-group">
                            <strong>Office</strong><a href="#">
                                <span class="user-status is-busy"></span>
                                <small>Ann Scott</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a><a href="#">
                                <span class="user-status is-offline"></span>
                                <small>Sherman Stokes</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a><a href="#">
                                <span class="user-status is-offline"></span>
                                <small>Florence Pierce</small>
                                <span class="badge badge-info">1</span>
                            </a>
                        </div>
                        <div id="group-3" class="chat-group">
                            <strong>Friends</strong><a href="#">
                                <span class="user-status is-online"></span>
                                <small>Willard Mckenzie</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a><a href="#">
                                <span class="user-status is-busy"></span>
                                <small>Jenny Frazier</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a><a href="#">
                                <span class="user-status is-offline"></span>
                                <small>Chris Stewart</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a><a href="#">
                                <span class="user-status is-offline"></span>
                                <small>Olivia Green</small>
                                <span class="badge badge-info is-hidden">0</span>
                            </a>
                        </div>
                    </div>
                    <div id="chat-box" style="top:400px">
                        <div class="chat-box-header">
                            <a href="#" class="chat-box-close pull-right"><i class="glyphicon glyphicon-remove"></i></a><span class="user-status is-online"></span><span class="display-name">Willard Mckenzie</span>
                            <small>Online</small>
                        </div>
                        <div class="chat-content">
                            <ul class="chat-box-body">
                                <li>
                                    <p><img src="images/user.jpg" class="avt" /><span class="user">Admin</span><span class="time">09:33</span></p>

                                    <p>Hi Swlabs, we have some comments for you.</p>
                                </li>
                                <li class="odd">
                                    <p><img src="images/user.jpg" class="avt" /><span class="user">Swlabs</span><span class="time">09:33</span></p>

                                    <p>Hi, we're listening you...</p>
                                </li>
                            </ul>
                        </div>
                        <div class="chat-textarea"><input placeholder="Type your message" class="form-control" /></div>
                    </div>
                </div>
                <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
                <div id="page-wrapper">
                    <!--BEGIN TITLE & BREADCRUMB PAGE-->
                    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                        <div class="page-header pull-left">
                            <div class="page-title">Users</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a href="index.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                            <li><a href="#">Users</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                            <li><a href="Users.html">Users</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                            <li><a href="AddNewUser.html">Add New User</a></li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
                <div id="page-wrapper">
                    <!--BEGIN TITLE & BREADCRUMB PAGE-->

                    <div class="panel panel-violet">
                        <div class="panel-heading">Add NewFleet Owner</div>
                        <div class="panel-body pan">
                            <form action="#" class="form-horizontal form-seperated form-row-stripped">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label for="inputFirstName" class="col-md-3 control-label">First Name <span class='require'>*</span></label>

                                        <div class="col-md-4"><input id="inputFirstName" type="text" placeholder="First Name" class="form-control" ng-model="User.FirstName" /><span class="help-block"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLastName" class="col-md-3 control-label">Last Name <span class='require'>*</span></label>

                                        <div class="col-md-4"><input id="inputLastName" type="text" placeholder="Last Name" class="form-control" ng-model="User.LastName" /><span class="help-block"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMiddleName" class="col-md-3 control-label">Middle Name</label>

                                        <div class="col-md-4"><input id="inputMiddleName" type="text" placeholder="Middle Name" class="form-control" ng-model="User.MiddleName" /><span class="help-block"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="selCountry" class="col-md-3 control-label">User Type</label>

                                        <div class="col-md-4">
                                            <select disabled id=" selusertype" class="form-control" ng-model="User.UserType">
                                                <option value="">Fleet owner staff</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="selCountry" class="col-md-3 control-label">Roles</label>

                                        <div class="col-md-4">
                                            <select disabled id="selRole" class="form-control" ng-model="User.Role">
                                                <option value="">fleet owner</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-md-3 control-label">Fleet Owner Code <span class='require'>*</span></label>

                                        <div class="col-md-4"><input id="Employee no" type="text" class="form-control" ng-model="User.EmpNo" /><span class="help-block"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-md-3 control-label">Email <span class='require'>*</span></label>

                                        <div class="col-md-4">
                                            <div class="input-icon"><i class="fa fa-envelope"></i><input type="text" placeholder="Email Address" class="form-control" ng-model="User.Email" /></div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputPhone" class="col-md-3 control-label">MobileNo</label>

                                        <div class="col-md-4">
                                            <div class="input-icon right"><i class="fa fa-mobilephone"></i><input type="text" placeholder="" class="form-control" ng-model="User.MobileNo" /></div>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">
                                        <label for="Address Id" class="col-md-3 control-label">Address Id<span class='require'>*</span></label>

                                        <div class="col-md-4"><input id="Address Id" type="text" class="form-control" ng-model="User.AdressId" /><span class="help-block"></span></div>
                                    </div>-->

                                    <div class="form-group">
                                        <label for="Active" class="col-md-3 control-label">Active<span class='require'></span></label>

                                        <div class="col-md-4">
                                            <input type="checkbox" checked />
                                        </div>


                                    </div>
                                    <div class="panel panel-violet">
                                        <div class="panel-heading">User Login</div>
                                        <div class="panel-body pan">
                                            <form action="#" class="form-horizontal form-seperated form-row-stripped">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label for="inputUserName" class=" col-md-3 control-label">UserName: <span class='require'>*</span></label>

                                                        <div class="col-md-4"><input id="inputFirstName" type="text" placeholder="EnterName" class="form-control" ng-model="User.UserName" /><span class="help-block"></span></div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputPassword" class="col-md-3 control-label">Password <span class='require'>*</span></label>

                                                        <div class="col-md-4"><input type="password" type="text" placeholder="password" class="form-control" ng-model="User.Password" /><span class="help-block"></span></div>
                                                    </div><br />
                                                    <div class="form-group">
                                                        <label for="inputPassword" class="col-md-3 control-label">re-enter Password <span class='require'>*</span></label>

                                                        <div class="col-md-4"><input type="password" type="text" placeholder="password" class="form-control" /><span class="help-block"></span></div>
                                                    </div><br />
                                                </div>
                                                <div class="form-actions text-center pal">
                                                    <button type="submit" class="btn btn-green" ng-click="save(User, 'I', 2)">Save</button>
                                                    &nbsp;
                                                    <button type="reset" class="btn btn-primary" ng-click="clearUser()">Cancel</button><br />
                                                    <br />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <!--END CONTENT--><!--BEGIN FOOTER-->
                        <div id="footer">
                            <div class="copyright">2016 © Interbus - Bus Ticketing dashboard portal</div>
                        </div>
                        <!--END FOOTER-->
                    </div>
                    <!--END PAGE WRAPPER-->

                    <script src="js/jquery-1.10.2.min.js"></script>
                    <script src="js/jquery-migrate-1.2.1.min.js"></script>
                    <script src="js/jquery-ui.js"></script>
                    <!--loading bootstrap js-->
                    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
                    <script src="vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
                    <script src="js/html5shiv.js"></script>
                    <script src="js/respond.min.js"></script>
                    <script src="vendors/metisMenu/jquery.metisMenu.js"></script>
                    <script src="vendors/slimScroll/jquery.slimscroll.js"></script>
                    <script src="vendors/jquery-cookie/jquery.cookie.js"></script>
                    <script src="vendors/iCheck/icheck.min.js"></script>
                    <script src="vendors/iCheck/custom.min.js"></script>
                    <script src="vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
                    <script src="js/jquery.menu.js"></script>
                    <script src="vendors/jquery-pace/pace.min.js"></script>
                    <script src="vendors/holder/holder.js"></script>
                    <script src="vendors/responsive-tabs/responsive-tabs.js"></script>
                    <!--LOADING SCRIPTS FOR PAGE--><!--CORE JAVASCRIPT-->
                    <script src="js/main.js"></script>
                 
                    <script src="js/angular.js"></script>
                    <script src="js/Users.js"></script>
                    <script src="js/ngStorage.js"></script>

</body>
</html>